################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/XChaty/FileContentIndex
/.vs/XChaty/v17/ipch/AutoPCH
/.vs/XChaty/v17
/out
/XChatyServer/Debug
*.log
*.stash
/XChatyUtilty/Debug/qmake
/XChatyUtilty/Debug
/XChatyServer/Debug
/XChatyServer/DebugWin32
/Debug
/XChatyClient/Debug
/UnitTest
/XChatyClient/Release
/XChatyClient/XChatyClient.vcxproj.user
/XChatyServer/Release
/XChatyUtilty/Release
/XChatyServer/XChatyServer.vcxproj.user
/XChatyUtilty/XChatyUtilty.vcxproj.user
/XChatyServer/new_file.zip
/XChatyServer/test_file.zip
